<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>VANDI</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<header>
    <nav th:fragment="nav" class="navbar navbar-expand-lg bg-nav rounded">
        <a th:href="@{/static}"> <img src="/img/workout.png" alt="VANDI GYM" width="50" height="50"></a>
        <a sec:authorize="isAnonymous()" class="nav-link text-white active h5" th:href="@{/}"> VANDI GYM</a>
        <a sec:authorize="isAuthenticated()" class="nav-link text-white active h5" th:href="@{/workouts/calculator}">Calorie calculator</a>
        <a sec:authorize="isAuthenticated()" class="nav-link text-white active h5" th:href="@{/workouts/workout}">Your workouts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <th:block sec:authorize="isAnonymous()">
            <ul class="navbar-nav row">
                    <li class="nav-item col-md-4">
                        <a class="nav-link text-white active h5" th:href="@{/users/login}">Login</a>
                    </li>
                    <li  class="nav-item col-md-4" >
                        <a class="nav-link text-white active h5" th:href="@{/users/register}">Register</a>
                    </li>
                <li sec:authorize="isAuthenticated()" class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" th:href="@{/users/logout}">Logout</a>
                </li>
            </ul>
            </th:block>
        </div>
    </nav>
</header>

</body>
</html>